<h4>List of Cars</h4>
<% @cars.each do |car| %>
<p>Manufacturer:<%= link_to car.manufacturer, car_path(car.id)%></p>
<p>Color:<%= car.color %></p>
<p>Year:<%= car.year %></p>
<p>Mileage:<%= car.mileage %></p>
<p>Description:<%= car.description %></p></br><hr>
<% end %>

<%= link_to "Add a Car", new_car_path %></br>
<%= link_to "Add a Manufacturer", new_manufacturer_path %></br>
<%= link_to "List of Manufacturers", manufacturers_path %>

