<h2> Add a new Car! </h2>

<ul>
  <% if @car.errors.any? %>
     <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
     <% end %>
  <% end %>
</ul>

<%= form_for @car do |f| %>

<%= f.label :manufacturer %>
<p><%= f.text_field :manufacturer ,placeholder: "GM" %></p>

<%= f.label :color %>
<p><%= f.text_field :color ,placeholder: "Blue" %></p>

<%= f.label :year %>
<p><%= f.number_field :year %></p>

<%= f.label :mileage %>
<p><%= f.number_field :mileage %></p>

<%= f.label :description %>
<p><%= f.text_field :description %></p>

<p><%= f.submit 'Submit'%></p></br><hr>


<% end %>

<%= link_to 'Cancel', cars_path %>
