 <h2> Car Information</h2>

 <h2><%= @car.manufacturer.name %></h2>
 <p>Color: <%= @car.color %></p>
 <p>Year: <%= @car.year %></p>
 <p>Mileage: <%= @car.mileage %></p>
 <p>Description: <%= @car.description %></p>

 <%= link_to 'Back', cars_path %>


